@inherits LayoutComponentBase

<NavMenu />
<main class="container pt-2" style="overflow-y: auto; max-height: calc(100vh - 56px - 56px - 1px);">
    @Body
</main>
<footer class="fixed-bottom text-center bg-light" style="border-top: 1px solid lightgrey;">
    <p class="py-2 m-0">4Notes: anonymous notes sharing</p>
</footer>
